@font-face {
    font-family: 'Mulish';
    src: url('Mulish-Light.woff2') format('woff2'),
        url('Mulish-Light.woff') format('woff'),
        url('Mulish-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('Mulish-Regular.woff2') format('woff2'),
        url('Mulish-Regular.woff') format('woff'),
        url('Mulish-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('Mulish-Bold.woff2') format('woff2'),
        url('Mulish-Bold.woff') format('woff'),
        url('Mulish-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

